*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
width: 960px;
font-family: 'Lobster', cursive;
/*font-family: 'Smokum', cursive;*/
margin: 15px;
}

header{
background-color: aqua;
margin:auto;
width: 600px;

}
nav{
    top: -5;
background-color: cornflowerblue;
margin: 5px;
padding: 5px;
height: 80px;
}
a{
font-size: 1.5em;
padding: 15px;
text-decoration: none;


}

h1{
    font-size: 4em;
    padding: -35px;
    text-align: center;
    border: 1px solid rgba(17, 17, 226, 0.465);
 
}
section{
background-color: coral;
margin: 5px;
width: 660px;
float: left;
}
aside{
background-color: cyan;
 margin: 5px;
 width: 220px;
 float: left;
}
footer{
clear: both;

}

div{
    padding: 15px;
    border: 5px double;
    border-color: blueviolet blue red;
    border-radius: 15px;
}